<div id="<%= dom_id payment %>">
  <p>
    <strong>項目:</strong>
    <%= payment.group.name %>
  </p>

  <p>
    <strong>支払った人:</strong>
    <%= payment.payer.name %>
  </p>

  <p>
    <strong>金額:</strong>
    <%= payment.amount %>
  </p>

</div>
