<h1>支払い履歴</h1>

<% if notice.present? %>
  <p style="color: green;"><%= notice %></p>
<% end %>

<div style="max-width: 700px; box-sizing: border-box;">
  <div id="payments">
    <% @payments.each do |payment| %>
      <%= render payment %>
    <% end %>
  </div>
</div>

<%= link_to "支払い登録", new_payment_path %>